@import url('styles/normalize.css');
@import url('styles/fonts.css');
@import url('styles/variables.css');
@import url('styles/utils.css');
@import url('styles/globals.css');

@import url('styles/bubble.css');
@import url('styles/header.css');
@import url('styles/menu.css');
@import url('styles/products.css');
@import url('styles/sections-card.css');
@import url('styles/footer.css');
