*,
*::before,
*::after {
  transition: color var(--hover-transition),
    background-color var(--hover-transition),
    border-color var(--hover-transition),
    fill var(--hover-transition),
    opacity var(--hover-transition),
    transform var(--hover-transition);
}

body {
  font-family: var(--font-family-base), sans-serif;
  font-size: var(--font-size-12);
  line-height: var(--line-height-base);
  font-weight: var(--font-weight-regular);
  font-style: normal;

  min-width: var(--content-width);
  display: flex;
  flex-direction: column;
  min-height: 10vh;
  margin-inline: auto;

  letter-spacing: 0.03em;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  transition: var(--animate-transition);
}

button {
  border-radius: var(--border-radius-base);
  cursor: pointer;
}

