.menu {
  max-width: var(--content-width);
  margin-inline: auto;

  color: var(--color-black)
}

.menu-main {
  padding: 32px 64px;
  margin-inline: auto;
}

.menu-title {
  font-size: var(--font-size-h2);
  line-height: var(--line-height-h2);
  font-weight: var(--font-weight-semiBold);
  margin: 0 0 32px;
  color: var(--color-black);
}

.menu-card__list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.menu-card__link {
  position: relative;
  display: block;
  text-decoration: none;
  min-width: 304px;
  min-height: 304px;

  background-color: var(--color-black);
  border-radius: var(--border-radius-base);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  font-size: var(--font-size-24);
  line-height: var(--line-height-32);
  font-weight: var(--font-weight-semiBold);
  color: var(--color-white);
}

.menu-card__link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--gradient-card);
  border-radius: var(--border-radius-base);
}

.menu-card__title {
  position: absolute;
  bottom: 16px;
  left: 16px;

  margin: 0;

  font-size: var(--font-size-24);
  line-height: var(--line-height-32);
  font-weight: var(--font-weight-semiBold);

  z-index: 1;
}

.menu-card__image {
  border-radius: var(--border-radius-base);
}

.menu-card__link:hover {
  transform: scale(1.03);
}
