.menu-card {
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.menu-card__item {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  max-width: 304px;

  transition: all 0.3s;
}

.menu-card__links {
  color: var(--color-medium-gray);
  display: grid;
}

.menu-card__image-product {
  grid-row: 1/3;
  grid-column: 1/2;
  width: 304px;
  height: 304px;
  display: block;
  margin-bottom: 16px;
  border-radius: var(--border-radius-base);
}

.menu-card__title_bar {
  grid-row: 3/4;
  grid-column: 1/2;
  margin: 0 0 4px;
  font-size: var(--font-size-18);
  line-height: var(--line-height-base);
  font-weight: var(--font-weight-semiBold);
  color: var(--color-black)
}

.menu-card__description {
  grid-row: 4/5;
  grid-column: 1/2;
  margin: 0;
  padding: 0 2px 0 0;
  font-size: var(--font-size-base);
  line-height: var( --line-height-base);
  font-weight: var(--font-weight-regular);
  color: var(--color-medium-gray);

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu-card__button {
  padding: 16px 24px;
  font-family: inherit;
  font-weight: var(--font-weight-semiBold);
  font-size: var(--font-size-18);
  line-height: var(--line-height-base);
  text-align: center;
  color: var(--color-black);
  border: none;
  background: var(--smoke-white);
}

.menu-card__button:hover {
  background: var(--extra-light-gray);
  transform: scale(1.03);
}

.menu-card__labels {
  width: 180px;
  grid-row: 1/2;
  grid-column: 1/2;
  z-index: 1;
  margin: 0 0 0 auto;
  padding: 8px;
  list-style: none;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  gap: 8px;
}

.label {
  width: 36px;
  height: 36px;
  border-radius: 8px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
}

.label--fish {
  background-color: var(--color-vivid-sky-blue);
  background-image: url("../images/label/label-fish.svg");
}

.label--vegetarian {
  background-color: var(--color-lime-green);
  background-image: url("../images/label/label-vegetarian.svg");
}

.label--fire {
  background-color: var(--color-coral-red);
  background-image: url("../images/label/label-fire.svg");
}

.label--chief {
  background-color: var(--color-lavender-indigo);
  background-image: url("../images/label/label-chief.svg");
}

.label--beef {
  background-color: var(--color-wine-red);
  background-image: url("../images/label/label-beef.svg");
}

.label--pepper {
  background-color: var(--color-orange-peel);
  background-image: url("../images/label/label-pepper.svg");
}

.label--new {
  background-color: var(--color-blue-ribbon);
  background-image: url("../images/label/label-new.svg");
}



